body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
}
.btn-group button {
    background-color: #000000;
    border: 1px solid black;
    color: white; 
    padding: 10px 24px; 
    cursor: pointer;
    float: left; 
}
  
.btn-group button:not(:last-child) {
  border-right: none; 
}
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
.btn-group button:hover {
  background-color: grey;
}